[Desktop Entry]
Name=GNU plot
Comment=GNU program for making plots
Comment[pl]=Program GNU do robienia wykresów
Icon=gnuplot.png
Exec=gnuplot
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Education;Science;X-Plotting;
# vi: encoding=utf-8
