[Desktop Entry]
Name=GNU plot
Comment=GNU program for making plots
Comment[pl]=Program GNU do robienia wykresów
Icon=gnuplot
Exec=gnuplot
Terminal=true
Type=Application
Categories=ConsoleOnly;Education;Science;X-Plotting;
# vi: encoding=utf-8
